/* font-family: 'Grandstander', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Lakki Reddy', cursive; */

body{
  text-align: center;
  background-color: #393E46;
  padding: 0% 2% 0% 2%;
}

/* container */
.e:hover{
  color: white;
  transition: 0.4s ease-in-out;
}

.container{
  text-shadow: 2px 2px 6px #24272c;
  font-family: 'Grandstander', cursive;
  font-size: 370%;
  color: #4ECCA3;
}

h1{
  margin-bottom: 4%;
}

.container > h2{
  font-size: 70%;
}

hr{
  margin-top: 5%;
  border: dotted 6px;
  width: 8%;
  color: #4ECCA3;
  border-bottom: none;
  opacity: 0.3;
}

/* play-area */
.play-area{
  text-shadow: 1px 1px 4px #24272c;
  margin-top: 2%;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  font-size: 220%;
}

.pl1, .pl2{
  display: inline-block;
}

.win{
  background: -webkit-linear-gradient(270deg, #4ECCA3, #b6e2d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: win-anim 1.5s ease-in-out alternate infinite ;
  text-shadow: 1px 1px 4px #24272c;
}

@keyframes win-anim {
  0%{
    opacity: 0;
    text-shadow: none;
  }
  100%{
    opacity: 1;
    text-shadow: none;
  }

}

.dc{
  width: 70%;
}

.dc:hover {
  transform: scale(1.2);
  filter: drop-shadow(1px 1px 4px #24272c);
	transform: translateY(-5px);
  transition: 0.4s ease-in-out;
}

/* footer */
footer{
  text-shadow: 1px 1px 4px #24272c;
  margin-top: 5%;
  font-size: 120%;
  color: #EEEEEE;
  font-family: 'Lakki Reddy', cursive;
}

footer p{
  display: inline-block;
  margin-left: -2%;
}

.diceey{
  display: inline-block;
  width: 9%;
  margin-bottom: -1.5%;
}


@media (max-width: 450px){
  .container{
    font-size: 300%;
  }
  .play-area{
    font-size: 180%;
  }
  .dc{
    width: 60%;
  }
}

@media (max-width: 700px){
  .diceey{
    margin-bottom: -1%;
  }
}

@media (max-width: 420px){
  .diceey{
    margin-bottom: 0%;
  }
}


@media (max-width: 317px){
  .diceey{
    visibility: hidden;
  }
}
